.DS_Store
**/**/bin/*
**/**/cmake-build-debug/*
learncpp/
advent_of_code_2021/
datastructures_implementations/
.zshrc
playground/
mistrz_programowania/
importantes/
Elaborated/

**/**/target/
**/cargo.lock
**/out/
**/too_easy/
contests/
random/
not_rated_yet/
**/.idea/
**/not_rated_yet/
